.full-panel {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.pick-teams-container {
    margin-top: 2rem;
    background-color: var(--color-main-bg);
    width: 35vw;
    border-radius: 0.625rem;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem auto;
}

.pick-teams-container button{
    width: 50%;
    height: 2.5rem;
    display: flex; 
    align-items: center; 
    gap: 10px;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

.form-fields {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.form-fields textarea{
    resize: none;
    color: var(--color-main-black);
    margin-top: 2rem;
    font-family: 'Courier New', monospace !important;
}

.result-container {
    margin-top: 2rem;
    background-color: var(--color-main-bg);
    width: 35vw;
    border-radius: 0.625rem;
    border-left: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 1rem auto;
}

.result-container button{
    width: 50%;
    height: 2.5rem;
    display: flex; 
    align-items: center; 
    gap: 10px;
    margin: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: medium;
}

.result-container textarea{
    resize: none;
    width: 80%;
    color: var(--color-main-black);
    margin-top: 1rem;
    font-family: 'Courier New', monospace !important;
    font-size: medium;
    align-self: center;
}

@media (max-width: 768px) {
    .full-panel {
        display: flex;
        flex-direction: column;
    }

    .pick-teams-container {
        width: 80vw;
    }

    .result-container {
        width: 80vw;
    }

  }